* {
	box-sizing: border-box;
}
.notSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
:root {
	--sideMenuImageOpacity: 1;
	--sideMenuTextTransform: scaleX(0);
	--UIdefaultColor: #35363A;
	--UIdefaultTextColor: #ffffff;
	--UIdefaultInputColor: #141618;
	--deleteMarketButtonHoverBgColor: #E60505;
}
@font-face {
	font-family: MontserratReg;
	src: url("../../Assets/Font-Import/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
	font-family: MontserratMed;
	src: url("../../Assets/Font-Import/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
	font-family: LatoReg;
	src: url("../../Assets/Font-Import/Lato/Lato-Regular.ttf");
}
@font-face {
	font-family: RobotoReg;
	src: url("../../Assets/Font-Import/Roboto/Roboto-Regular.ttf");
}
body {
	margin: 0;
	background-color: #232527;
}
body::after{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
	content: url("../../Assets/darkTheme/close.png")
	url("../../Assets/darkTheme/menu.png")
	url("../../Assets/darkTheme/homeIcon.png")
	url("../../Assets/darkTheme/person.png")
	url("../../Assets/darkTheme/CogWheel.png")
	url("../../Assets/global/market.png")
	url("../../Assets/darkTheme/privacyLock.png");
 }
#topnav {
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	width: 100%;
	height: 10vh;
	background-color: rgb(25, 25, 25);
}
#orgName {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: inline-flex;
	text-align: center;
	color: var(--UIdefaultTextColor);
	font-family: MontserratMed, Verdana, sans-serif;
	margin: 0;
}
#menuToggle {
	position: relative;
	background-color: transparent;
	width: 4vh;
	height: 3vh;
	left: 0;
	padding: 0;
	border: 0;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	filter: brightness(70%);
	outline: none;
}
#menuImageCont {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: var(--menuImage, url("../../Assets/darkTheme/menu.png"));
	height: 100%;
	width: 100%;
}
#logLabel {
	margin: 0;
	text-decoration: none;
	position: relative;
	display: inline-block;
	font-family: LatoReg, Arial, sans-serif;
	color: var(--UIdefaultTextColor);
	cursor: pointer;
}
#logLabel::before {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 100%;
	height: 0;
	border-bottom: 1.5px solid var(--UIdefaultTextColor);
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform 0.15s ease-in;
	-o-transition: -o-transform 0.15s ease-in;
	transition: 0.15s ease-in;
}
#logLabel:hover::before {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
#alertCont {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: fit-content;
	height: -moz-fit-content;
	width: fit-content;
	width: -moz-fit-content;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	background-color: var(--UIdefaultColor);
	border-radius: 10px;
	font-family: LatoReg, Arial, sans-serif;
	font-size: 20px;
	margin-top: 5vh;
}
#cancelAlertButton, #resendEmailButton {
	position: relative;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1.5px solid white;
	border-radius: 5px;
	color: var(--UIdefaultTextColor);
	cursor: pointer;
	outline: none;
}
#cancelAlertButton:hover, #resendEmailButton:hover {
	background-color: var(--UIdefaultTextColor);
	color: black;
}
#alertText, #resendEmailError {
	font-size: 20px;
}
#alertText {
	color: var(--UIdefaultTextColor);
	margin: 10px;
}
#resendEmailError {
	font-family: MontserratReg, Verdana, sans-serif;
	margin: 0 10px 10px 10px;
	height: 67.2px;
	font-size: 15px;
	color: #ff0000;
}
#sidenav {
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 90vh;
	background-color: #292A2D;
	top: 10vh;
	-webkit-transition: left 0.4s linear;
	-o-transition: left 0.4s linear;
	transition: left 0.4s linear;
}
.openedSideNav {
	left: 0 !important;
}
#sidenav > a {
	display: inline-block;
	width: 100%;
	min-width: 190px;
	height: 8vh;
	text-decoration: none;
}
#sidenav > a:hover {
	--sideMenuImageOpacity: 0.5;
	--sideMenuTextTransform: scaleX(1);
}
#sidenav > a:nth-child(odd) {
	background-color: #292A2D;
}
#sidenav > a:nth-child(even) {
	background-color: #191B1D;
}
.innerLinksCont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.innerLinksCont > p {
	position: relative;
	display: inline-block;
	color: var(--UIdefaultTextColor);
	margin: 0;
	font-family: RobotoReg, Helvetica, sans-serif;
	font-size: 22px;
}
.innerLinksCont > p::before {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 100%;
	height: 0;
	border-bottom: 1.5px solid var(--UIdefaultTextColor);
	-webkit-transition: -webkit-transform 0.15s ease-in;
	-o-transition: -o-transform 0.15s ease-in;
	transition: 0.15s ease-in;
	-webkit-transform: var(--sideMenuTextTransform, scaleX(0));
	-ms-transform: var(--sideMenuTextTransform, scaleX(0));
	-o-transform: var(--sideMenuTextTransform, scaleX(0));
	transform: var(--sideMenuTextTransform, scaleX(0));
}
.innerLinksCont > div {
	margin-left: 2em;
	margin-right: 1.5em;
}
.sideNavImage {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 4vh;
}
#homeImage {
	background-image: url("../../Assets/darkTheme/homeIcon.png");
	height: 4vh;
	opacity: var(--sideMenuImageOpacity);
}
#profilesImage {
	background-image: url("../../Assets/darkTheme/person.png");
	height: 4vh;
	opacity: var(--sideMenuImageOpacity);
}
#settingsImage {
	background-image: url("../../Assets/darkTheme/CogWheel.png");
	height: 3.5vh;
	opacity: var(--sideMenuImageOpacity);
}
#marketplaceImage {
	background-image: url("../../Assets/global/market.png");
	height: 4vh;
	opacity: var(--sideMenuImageOpacity);
}
#privacyImage {
	background-image: url("../../Assets/darkTheme/privacyLock.png");
	height: 4vh;
	opacity: var(--sideMenuImageOpacity);
}
@-webkit-keyframes menuAnimationOpen {
	0% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
}
@-webkit-keyframes menuAnimationClose {
	0% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
}
@-moz-keyframes menuAnimationOpen {
	0% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
}
@-moz-keyframes menuAnimationClose {
	0% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
}
@-o-keyframes menuAnimationOpen {
	0% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
}
@-o-keyframes menuAnimationClose {
	0% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
}
@keyframes menuAnimationOpen {
	0% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
}
@keyframes menuAnimationClose {
	0% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	49% {
		--menuImage: url("../../Assets/darkTheme/close.png");
	}
	50% {
		transform: scaleY(0);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
	100% {
		transform: scaleY(1);
		--menuImage: url("../../Assets/darkTheme/menu.png");
	}
}
#mainCont {
	position: absolute;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
main {
	position: absolute;
	width: 100%;
	height: 90vh;
	top: 10vh;
	z-index: -999;
}
@media only screen and (max-width: 426px) {
	.infoColumnRow, .infoRow {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#marketLogoImageDisplay {
		width: 100% !important;
	}
}
@media only screen and (min-width: 427px) {
	#topnav {
		padding: 0 2em 0 2em;
	}
	#logLabel {
		font-size: 150%;
	}
}
@media only screen and (max-width: 720px) {
	#alertCont {
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 427px) and (max-width: 768px) {
	#marketLogoImageDisplay {
		width: calc(100% + 2em) !important;
	}
}
@media only screen and (max-width: 768px) {
	#marketLogoRow {
		justify-content: center;
		align-items: center;
		flex-direction: column !important;
		padding-bottom: 0;
		border-bottom: 0;
	}
	#topnav {
		padding: 0 1em 0 1em;
	}
	#logLabel {
		font-size: 125%;
	}
	#sidenav {
		width: 100%;
		height: 90vh;
		left: -100%;
	}
	#editOptions {
		width: 100%;
	}
	#mainCont {
		flex-direction: column;
	}
	#optionsList {
		flex-direction: row;
		justify-content: space-around;
	}
	.optionButtons {
		padding: 0 15px 0 15px;
	}
	.selectedTab {
		border-bottom: 3px solid white !important;
	}
	.infoRow, .infoColumnRow {
		background-color: #2D2E32;
	}
	.optionButtons:hover {
		border-bottom: 3px solid rgba(255, 255, 255, 0.4);
	}
	.optionsText {
		padding-top: 15.8px;
		padding-bottom: 15.8px;
		width: 100%;
	}
	.passwordShowButton {
		background-color: #3C3E40;
	}
}
@media only screen and (min-width: 768px) {
	#sidenav {
		width: 30vw;
		left: -30vw;
		max-width: 350px;
	}
}
@media only screen and (min-width: 769px) {
	#selectedTabLine {
		position: absolute;
		background-color: #ffffff;
		top: 0;
		height: 50px;
		width: 3px;
		-webkit-transition: top 0.15s ease-out;
		-o-transition: top 0.15s ease-out;
		transition: top 0.15s ease-out;
	}
	#optionsList {
		background-color: var(--UIdefaultColor);
		flex-direction: column;
		margin-left: 3px;
	}
	#editOptions {
		position: relative;
		vertical-align: top;
		height: 100px;
		width: 200px;
		margin-left: 1em;
		margin-right: 1em;
	}
	#marketInfoCont {
		vertical-align: top;
		margin-top: 30px;
		margin-right: 2em;
		height: fit-content;
		height: -moz-fit-content;
		width: calc(100% - 4em - 200px);
	}
	.topHeaderInfo {
		margin-top: 0;
	}
	.optionButtons {
		position: relative;
		padding: 0;
		border-bottom: 0 !important;
		border-right: 0 !important;
		border-top: 0 !important;
	}
	.optionButtons:hover {
		border-left: 3px solid rgba(255, 255, 255, 0.4);
		--textSize: calc(100% + 3px);
	}
	.infoRow, .infoColumnRow {
		background-color: var(--UIdefaultColor);
	}
	.optionsText {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding-top: 15.8px;
		padding-bottom: 15.8px;
		width: var(--textSize, 100%);
	}
	.passwordShowButton {
		background-color: #2D2F31;
	}
}
@media only screen and (max-width: 1024px) {
	#orgName {
		font-size: 150%;
	}
}
@media only screen and (min-width: 1025px) {
	#orgName {
		font-size: 200%;
	}
}
#notificationCont {
	position: fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	z-index: 2;
	top: -10vh;
	-webkit-transition: top 0.2s linear;
	-o-transition: top 0.2s linear;
	transition: top 0.2s linear;
	overflow: hidden;
}
#notificationText {
	font-family: LatoReg, Arial, sans-serif;
	font-size: 25px;
	margin: 0;
	color: var(--UIdefaultTextColor);
}
#editOptions {
	margin-top: 30px;
}
#optionsList {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100%;
	width: 100%;
	background-color: var(--UIdefaultColor);
	margin: 0;
	list-style: none;
	padding: 0;
}
.optionButtons {
	display: block;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	color: var(--UIdefaultTextColor);
	height: 50px;
	border: 0;
	width: 100%;
	outline: none;
}
.optionButtons:hover {
	cursor: pointer;
}
.optionsText {
	margin: 0;
	font-family: RobotoReg, Helvetica, sans-serif;
	text-align: center;
	font-size: 15px;
}
#marketInfoCont {
	position: relative;
	flex-direction: column;
}
#marketInfoCont > h1 {
	color: #ffffff;
	font-family: MontserratReg, Verdana, sans-serif;
}
#cancelOperationOverlay {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
}
.showOverlay {
	display: block;
}
.infoRow {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	color: var(--UIdefaultTextColor);
	font-family: LatoReg, Arial, sans-serif;
	font-size: 20px;
	border-bottom: 1px solid #ffffff;
	padding: 15px 1em 15px 1em;
	align-items: center;
}
.infoColumnRow {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--UIdefaultTextColor);
	font-family: LatoReg, Arial, sans-serif;
	font-size: 20px;
	border-bottom: 1px solid #ffffff;
	padding: 15px 1em 15px 1em;
}
.infoColumnRow:nth-last-child(1) {
	border: 0 !important;
}
#marketNameRow {
	align-items: flex-start;
}
.inputErrorText {
	margin: 0;
	font-size: 15px;
	font-family: MontserratReg, Verdana, sans-serif;
	color: #ff0000;
	overflow: hidden;
}
#newMarketNameError {
	font-size: 10px;
	max-height: 24px;
	height: 24px;
	max-width: 165px;
	width: 165px;
}
.rowInfo {
	margin: 0;
	word-break: break-word;
}
#marketNameLabel {
	margin-right: 10px;
}
.editIcon {
	background-image: url("../../Assets/darkTheme/editIcon.png");
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 15px;
	min-width: 15px;
	cursor: pointer;
	margin-left: 10px;
}
.detailsCont {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
#marketBioField {
	background-color: var(--UIdefaultInputColor);
	font-family: MontserratReg, Verdana, sans-serif;
	padding: 8px;
	border-radius: 6px;
	border: 0;
	color: var(--UIdefaultTextColor);
	outline: none;
	width: 100%;
	resize: vertical;
	margin-top: 7px;
	margin-bottom: 15px;
}
#marketBioField::placeholder {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#marketCategoryCont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
}
.marketCategoryBox {
	height: 20px;
	width: 20px;
	background-color: var(--UIdefaultInputColor);
	cursor: pointer;
	border-radius: 3px;
	background-size: 15px;
	background-position: center;
	background-repeat: no-repeat;
}
.tickedCategoryBox {
	background-image: url("../../Assets/global/checkBoxCheck.png");
}
.categoryBoxCont {
	width: fit-content;
	width: -moz-fit-content;
	margin-right: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.categoryBoxCont:nth-last-child(1) {
	margin: 0 !important;
}
.categoryLabel {
	margin: 0;
	font-size: 13px;
}
#marketCategoryLabel {
	margin-bottom: 10px;
	font-size: 18px;
}
#deleteMarketButton {
	display: block;
	margin: 8px auto 0 auto;
	font-family: RobotoReg, Helvetica, sans-serif;
	font-size: 17px;
	border-radius: 10px;
	background-color: transparent;
	color: var(--UIdefaultTextColor);
	cursor: pointer;
	outline: none;
	border: 2px solid #E60505;
	height: 40px;
	width: 200px;
	-webkit-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
#deleteMarketButton:hover {
	background-color: var(--deleteMarketButtonHoverBgColor);
}
#updateBioButton, #changeCategoryButton {
	display: block;
	margin: 0 auto 0 auto;
	font-family: RobotoReg, Helvetica, sans-serif;
	font-size: 17px;
	border-radius: 10px;
	background-color: transparent;
	color: var(--UIdefaultTextColor);
	cursor: pointer;
	outline: none;
	border: 2px solid #40AF00;
	height: 40px;
	width: 200px;
	-webkit-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
#changeCategoryButton:hover {
	background-color: #40AF00;
}
#deleteMarketRow {
	justify-content: center;
	align-items: center;
}
.newDetailField {
	position: relative;
	outline: none;
	background-color: var(--UIdefaultInputColor);
	color: var(--UIdefaultTextColor);
	font-family: LatoReg, Arial, sans-serif;
	font-size: 18px;
	border: 0;
	height: 30px;
	max-width: 165px;
	z-index: 4;
}
#marketLogoLabel {
	margin-right: 10px;
}
#marketLogoRow {
	flex-direction: row;
}
#marketLogoImageDisplay {
	position: relative;
	height: 300px;
	width: 400px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #000000;
	background-position: center;
}
#marketLogoTextOverlay {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	cursor: pointer;
}
#marketLogoText {
	color: var(--UIdefaultTextColor);
	font-family: MontserratReg, Verdana, sans-serif;
	font-size: 13px;
}
#marketLogoUpload {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}